<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icona_cocktail"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrinkProject"
        tools:targetApi="31">
        <activity
            android:name=".activities.ImpostazioniActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PagamentoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PaymentActivity"
            android:exported="false"
            android:label="@string/title_activity_payment"
            android:theme="@style/Theme.DrinkProject"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CarrelloActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RegistrazioneActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DrinkActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>